/*v 0.1*/

*{
	letter-spacing:1px;
	font-size:13px;
}

a{
	text-decoration:none;
}

body{
	background-color:#444;
}


/* quick-bar */

#quick-bar{
	position:fixed;
	top:0px;
	bottom:0px;
	margin-top:15px;
	margin-left:1%;
	margin-bottom:15px;
	background-color:#2e2e2e;
	width:150px;
	border:1px solid #2e2e2e;
	border-radius:10px;
	text-align:center;
	overflow: auto;
	scrollbar-color: #2E2E2E #222;
	scrollbar-width: thin;
	z-index:2;
}

.inner-ele{
	cursor:pointer;
}

.quick-ele{
	text-align:center;
	border-radius:10px;
	height:100px;
	top:25px;
	width:100px;
	margin: auto;
	background-color:#FFF2;
	transition:background-color, 0.1s;
}

.quick-ele:hover{
	background-color:#FFF4;
}

#ele .void{
	height:10px;
}

.quick-ele > .text{
	color:white;
}

.quick-ele:hover > .text{
	text-decoration:underline;
}

.quick-ele > img{
	margin-top:15px;
	width:50px;
	height:50px;
}

.cross{
	margin:30px;
	background-color:#FFF3;
	border:0px solid #FFF0;
	border-radius:50%;
	cursor:pointer;
	transition:background-color, 0.1s;
	transition: transform 0.1s;
}

#add-ele:hover > .cross{
	background-color:#FFF6;
	transform:scale(1.1);
}

.qbm{
	padding:15px 2.5px;
	margin-bottom:-55px;
	background-color:#777;
	border-radius:10px 10px 0px 0px;
	cursor:pointer;
	transition: transform 0.1s;
}

.qbm:hover{
	background-color:#666;
	transform:scale(1.05);
}

.qbd{
	padding:15px 2.5px;
	margin-left:-25px;
	margin-right:110px;
	margin-bottom:-100px;
	background-color:#777;
	border-radius:0px 0px 10px 10px;
	cursor:pointer;
	transition: transform 0.1s;
}

.qbd:hover{
	background-color:#666;
	transform:scale(1.05);
}


/* search */

.chear{
	z-index:1;
}

.chear > #sct{
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:100px;
	right:calc(45% + 40px);
	padding:5px;
	background-color:#3f3f3f;
	border:2px solid #232439;
	border-right:0px solid #FFF0;
	border-radius:10px 0 0 10px;
	width:100px;
	height:40px;
	color:white;
	
}

.chear > input{
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:100px;
	right:0;
	padding:5px;
	background-color:#3f3f3f;
	border:2px solid #232439;
	border-left:0px solid #FFF0;
	border-radius:0 10px 10px 0;
	width:45%;
	height:40px;
	color:white;
}

.chear > input:focus{
	background-color:#4e4e4e;
}

.chear > svg{
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:calc(45% + 55px);
	right:0;
	background-color:#FFF3;
	border:1px solid #FFF0;
	border-radius:25%;
	transition:all, 0.1s;
}

.chear > svg:hover{
	background-color:#FFF6;
	transform:scale(1.05);
}

.chear > img{
	position:absolute;
	margin:auto;
	top:0;
	bottom:100px;
	left:50px;
	right:0;
	width:45%;
}


/* parameter */

#parm{
	transition:opacity 0.25s;
	position:absolute;
	margin:auto;
	top:0;
	right:0;
	width:250px;
	height:100%;
	background-color:#2e2e2e;
	z-index:3;
	color:white;
	opacity:0;
	visibility:hidden;
}

#parm > a{
	color:white;
	display: block;
	text-decoration:none;
	margin:auto 10px;
	cursor:pointer;
}

#parm > a:hover{
	text-decoration:underline;
}

#parm > .in > button{
	display: block;
	margin:3px auto;
	cursor:pointer;
	background-color:#3b3b3b;
	padding:5px 10px;
	border:1px solid #3b3b3b;
	border-radius:40px;
	color:white;
	transition: transform 0.1s;
}

#parm > .in > button:hover{
	background-color:#444;
	border:1px solid #444;
	transform:scale(1.05);
}

.input{
	display: block;
	margin:-26.5px 10px 3px auto;
	width:25px;
	height:15px;
	background-color:#3b3b3b;
	border:1px solid #3b3b3b;
	cursor:pointer;
	border-radius:40px;
	transition: transform 0.1s;
}

.input:hover{
	background-color:#444;
	border:1px solid #444;
	transform:scale(1.1);
}

.input-chec{
	background-color:#35C;
	border:1px solid #35C;
}

.input::before{
  position: absolute;
  content: "";
 	width:10px;
	height:10px;
	background-color:#222;
	border-radius:40px;
	margin:2px;
	margin-left: 1px;
	transition:transform 0.5s;
}

.input[class~=input-chec]::before{
	transform: translateX(12px);
}

.input-chec:hover{
	background-color:#57E;
	border:1px solid #57E;
}

#parm > .in > .confn{
	margin-top:10px;
}

#parm > .in > .confn > span{
	display:block;
	margin:10px;
}

#parm > .fhr{
	margin:10px auto;
	width:90%;
	height:1px;
	background:linear-gradient(to right,#2e2e2e,#444,#2e2e2e);
}

#parm > .close{
	margin:5px 10px;
	padding:4px;
	transition: transform 0.1s;
}

#parm > .close:hover{
	transform:scale(1.025);
}

#parm > .close > span{
	padding:4px;
	background-color:#FFF4;
	border:1px solid #FFF0;
	border-radius:10px;
	cursor:pointer;
}

#parm > .close > span:hover{
	background-color:#FFF6;
}

#open{
	position:absolute;
	padding:2px;
	margin:auto;
	top:15px;
	right:5px;
	background-color:#FFF0;
	border-radius:5px;
	transition: transform 0.1s;
}

#open:hover{
	background-color:#FFF3;
	transform:scale(1.05);
}


/* popup */

#popup{
	position:absolute;
	margin:auto;
	text-align:center;
	top:30%;
	bottom:30%;
	right:30%;
	left:30%;
	background-color:#222;
	border:1px solid #FFF0;
	border-radius:40px;
	opacity:0;
	visibility:hidden;
	z-index:6;
}

#popup > input{
	margin:5px;
	padding:5px;
	background-color:#3f3f3f;
	border:2px solid #232439;
	border-radius:10px;
	color:white;
	width:50%;
}

#popup > input:focus{
	background-color:#4e4e4e;
}

#popup > select{
	width:75px;
	margin:5px;
	padding:5px;
	background-color:#3f3f3f;
	border:2px solid #232439;
	border-radius:10px;
	color:white;
}

#popup > select:hover{
	background-color:#4e4e4e;
}

#popup > #close{
	background-color:#FFF4;
	border:1px solid #FFF0;
	border-radius:10px;
	cursor:pointer;
	margin:auto;
	padding:5px;
	width:50px;
	color:white;
	transition: transform 0.1s;
}

#popup > #close:hover{
	background-color:#FFF6;
	transform:scale(1.05);
}

#popup > #ok{
	padding:5px 10px;
	background-color:#FFF3;
	border:1px solid #FFF0;
	border-radius:10px;
	color:white;
	transition:background-color, 0.1s;
}

#popup > #ok:hover{
	background-color:#FFF6;
	transform:scale(1.05);

}

/*more parameter*/
#back{
	padding: 10px;
	background-color: #777;
	border-radius: 10px;
	cursor: pointer;
	position: absolute;
	z-index: 2;
}

#pselector{
	position: absolute;
	width:250px;
	background-color: #2e2e2e;
	top: 50px;
	right: 0px;
	bottom: 10px;
	left: 10px;
	border: 2px solid #555;
	border-radius: 10px;
	z-index:3;
	color:#fff;
	font:message-box;
}

#pselector > div{
	cursor: pointer;
	padding:5px 0;
	margin:10px 0;
	width:200px;
	background-color: #444;
	border-right:1px solid #FFF6;
	border-radius:0px 10px 10px 0px;
}

#pselector > div span{
	transition: all 0.15s;
  padding-left: 3px;
}

#pselector > div:hover span{
	padding-left: 7px;
}

#pin{
	position: absolute;
	background-color: #2e2e2e;
	top: 50px;
	right: 10px;
	bottom: 10px;
	left: 275px;
	border: 2px solid #555;
	border-radius: 10px;
	padding:10px;
	z-index:2;
}

#pin .input{
	display: block;
	margin:-26.5px 10px 3px auto;
	width:25px;
	height:15px;
	background-color:#3b3b3b;
	border:1px solid #3b3b3b;
	cursor:pointer;
	border-radius:40px;
	transition: transform 0.1s;
}

#pin .input{
	display: block;
	margin:-26.5px 10px 3px auto;
	width:25px;
	height:15px;
	background-color:#3b3b3b;
	border:1px solid #3b3b3b;
	cursor:pointer;
	border-radius:40px;
	transition: transform 0.1s;
}

#pin .input:hover{
	background-color:#444;
	border:1px solid #444;
	transform:scale(1.1);
}

#pin .input-chec{
	background-color:#35C;
	border:1px solid #35C;
}

#pin .input-chec:hover{
	background-color:#57E;
	border:1px solid #57E;
}

#pin .input::before{
  position: absolute;
  content: "";
 	width:10px;
	height:10px;
	background-color:#222;
	border-radius:40px;
	margin:2px;
	margin-left: 1px;
	transition:transform 0.5s;
}

#pin .input[class~=input-chec]::before{
	transform: translateX(12px);
}

#pin input[type=text]{
	padding:1px;
	padding-left: 10px;
	background-color:#3f3f3f;
	border:none;
	border-radius:10px;
	width:200px;
	height:25px;
	color:white;
}

#pin button{
	padding:1px 10px;
	background-color:#FFF4;
	border:none;
	border-radius:10px;
	height:25px;
	color:white;
  transition:all 0.05s;
	cursor: pointer;
}


#pin button:hover{
	transform:scale(1.05);
}

#pin button:active{
	transform:scale(0.95);
}

#pin span{
	color:white;
	margin: auto 10px 10px;
	display: block;
}

#pin .voidw{
	display: inline-block;
	width: 10px;
}

#page{
	position: absolute;
	background-color: #2e2e2e;
	height: 32px;
	top: 8px;
	right: 10px;
	left: 70px;
	border: 2px solid #555;
	border-radius: 10px;
	z-index:1;
	text-align:center;
}

#page span{
	color:#fff;
	font:message-box;
	font-size: 20px;
}

#page .input:before{
	color:#fff;
	position: absolute;
	content: attr(id);
	font-size: 12px;
	right: 40px;
	margin-top: -2px;
}

/*task*/
#inner_task{
	position:absolute;
	margin:auto;
	left:0;
	right:0;
	width:60%;
}

#task{
	background-color:#222;
	border-radius:5px;
	text-align:center;
	color:white;
	padding:2.5px;
	transition:all 0.5s;
	width:100%;
}

#task div .in{
	text-overflow: " ...";
	overflow: hidden;
	margin:auto;
	width:50%;
	height:18px;
	background-color:#FFF0;
	border-radius:5px;
	transition:all 0.1s;
}

#task div .in:hover{
	transform:scale(1.05);
	background-color:#FFF5;
	cursor:pointer;
}

#task div .in input{
	margin:auto;
	width:75%;
	height:13px;
	background-color:#FFF0;
	border-radius:1px;
	border:1px solid #FFF0;
	transition:all 0.2s;
	text-align:center;
	color:white;
	outline: none;
}

#task div .checkbox{
	width:13px;
	height:13px;
	position:absolute;
	margin:3px auto auto auto;
	left:25px;
	background-color:#df1616;
	border-radius:100%;
	transition: all 0.25s;
}

#task div .checkbox:hover{
	transform:scale(1.2);
	cursor:pointer;
}

#task div .checked{
	background-color:#16ab16;
}

#task div #del{
	fill:#fff;
	width:15px;
	height:1px;
	padding:3px;
	position:absolute;
	margin: 5px auto auto auto;
	right:25px;
	transition: background-color 0.25s;
	z-index:2;
	background-color:#fff5;
	border-radius:10px;
	transition:all 0.25s;
}

#task div #del:hover{
	transform:scale(1.3);
	cursor:pointer;
}

#task div span #task_modif{
	border:1px solid #444;
}

#add svg{
	fill:#000;
	width:30px;
	height:30px;
	transition: all 0.5s cubic-bezier(.18,.89,.32,1.1);
	transform: rotate(0turn);
}

#add svg:hover{
	transform: rotate(0.25turn);
	cursor:pointer;
}

/*clog*/
#clog{
  position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 5px;
	border-radius: 10px;
	color:white;
	z-index:4;
}

.clog{
	margin-bottom: 5px;
	padding: 5px 25px;
	border-radius: 10px;
	background-color:#5c5c5c;
	transition: opacity 1s;
}

.lognormal{
  background-color:#5c5c5c;
}

.logok{
	background-color:#295c29;
}

.logwarn{
	background-color:#5c5c29;
}

.logalert{
	background-color:#773b3b;
}

#clogpopup{
	position:absolute;
	margin:auto;
	top:10px;
	right:10px;
	left:10px;
	border-radius:10px;
	padding: 10px;
	background-color:#222;
	color: white;
	z-index:6;
}

#clogpopup div{
	position:absolute;
	margin:auto;
	top:2px;
	right:10px;
}

/*autre*/
#log{
	color:white;
}

#action button{
	background-color:#3b3b3b;
	border:1px solid #3b3b3b;
	border-radius:40px;
	color:white;
}

#pin #innerfile #in_file{
	width: 99%;
	height: 99%;
}

#pin #innerfile button{
	background-color: #444;
}

#charge_bar{
	position: absolute;
	width: 100%;
	height: 3px;
	top: 0;
	right: 0;
	left: 0;
	background: linear-gradient(to right,#222,#444,#222);
	transition: background 1s;
	visibility: hidden;
}

.sync{
	position: absolute;
	bottom: 10px;
	right: 3px;
	padding: 5px;
	color:white;
	opacity: 1;
	background-color: #222;
	border-bottom: 2px solid #000;
	transition: opacity 0.5s;
	z-index:5;
}
